*{
  font-family: Roboto, Geneva, Tahoma, sans-serif;
}
/*carcasa*/
.pokedex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  width: 800px;
  height: 500px;
  border-radius: 7px;

}

/*pantalla*/

.image{
  width: 150px;
  
}
.pokeDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-bottom-left-radius: 23px;

}
.pokePhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  /* width: 180px; */
  margin: 1rem;
  padding: 1rem;

}


/* texto */
.pokeInfo{
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.placeholder{
  border-block-color: black;
  border-radius: 5px;
}

.pokeScreen{
  background-color: gray;
  color:aliceblue;
  width: 200px;
  height: 80px;
  font-size: 16px;
}