@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Esta parte es para la galería
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
} */


.header a {
  color: rgb(87, 99, 110);
  padding: 1.5rem 0 0 1.5rem;
}

/* Esta parte es para la galería
.logo-image {
  width: 10%;
  height: 10%;
}


body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
} */

h1 {
  line-height: 2em;
  font-size: 4em;
}

p {
  margin: 0%;
  padding: 0%;
  font: 1.5em sans-serif;

}

.container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}
  .navigation ul li  {
  display: inline-block;

  }
    .navigation ul li a {
      display: block;
      padding: 0.5rem 1rem;
    }

.highlight {
  margin: 0em;
  padding: 0em;
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
  

}

.history {
  margin: 0rem;
  padding: 0rem;
  background-color: #ebbe97;
}

/* Esta parte es para la galería

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}


.container1{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container1{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container1{
    width: 33.33333%;
  }
}

.container1 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
} */